.friendCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 50px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.friendAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.friendName {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.friendStatus {
	font-size: 14px;
	color: grey;
}

.online {
	color: green;
}

.offline {
	color: red;
}
